/* Establecer estilos para todos los elementos */
* {
    border: 2px solid blue;
}

/* Estilos para imágenes */
img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
}

/* Estilos para la navegación y el pie de página */
nav, footer {
    text-align: center;
}

/* Estilos para párrafos dentro del contenido principal */
main p {
    width: 80%;
    margin: 0 auto;
    text-align:center;
}

/* Eliminar bordes */
/* * {
    border: none;
} */
