/* Establecer estilos para todos los elementos, incluyendo bordes */
* {
    border: 2px solid blue;
}

/* Estilos para imágenes */
img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
}

/* Estilos para la navegación y el pie de página */
nav, footer {
    text-align: center;
}

/* Estilos para párrafos dentro del contenido principal */
main p {
    width: 80%;
    margin: 0 auto;
    text-align:center;
}

/* Eliminar bordes para todos los elementos */
/* Puedes activar o desactivar esta sección según tus necesidades */
/* * {
    border: none;
} */

nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

a:hover {
    background-color: white;
    color: steelblue;
}