@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Rock+Salt&display=swap');

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3 {
  font-family: "Rock Salt";
  color: #155995;
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: #155995;
}
header {
  padding: 1em;
  text-align: center;
  color: #F1F1F1;
  background-color: #A22727;
}

header > h1, header > h2 {
  color: #F1F1F1;
}

p {
  font-family: Playpen Sans , Helvetica, sans-serif;
  color: #3E688C;
  padding: 1em;
}

nav {
    background-color: #155995;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: #F1F1F1;
}
nav a:hover {
    color: #F1F1F1;
    background-color: #3E688C;
  }

.end{
  background-color: #155995;
  color: #3E688C;
  padding: 1.5em;
  color: #F1F1F1;
}