/* Estilos generales para centrar el contenido y establecer el color de fondo */
body {
    text-align: center;
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Color de texto predeterminado en blanco */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
}

/* Estilo para la lista no ordenada */
ul {
    list-style-type: none;
    padding-left: 0; /* Elimina el relleno predeterminado de la lista */
    display: flex; /* Utiliza el modelo de caja flexible para crear columnas */
    flex-direction: column; /* Alinea los elementos en columnas */
    align-items: flex-start; /* Alinea los elementos a la izquierda de cada columna */
}

/* Estilo para los elementos de lista enumerados del 1 al 4 */
ul li:nth-child(-n+4) {
    color: black; /* Color de texto negro para elementos 1 al 4 */
}

/* Estilos para los encabezados */
h1, h2 {
    color: white; /* Color de texto predeterminado en blanco */
}
