/* Estilos generales para centrar el contenido y establecer el color de fondo */
body {
    text-align: center;
    background-color: pink; /* Color de fondo oscuro */
    color: white; /* Color de texto predeterminado en blanco */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
}

/* Estilo para los elementos de lista enumerados del 1 al 4 */
ul li:nth-child(-n+4) {
    color: black; /* Color de texto negro para elementos 1 al 4 */
}

/* Estilos para los encabezados */
h1, h2 {
    color: white; /* Color de texto predeterminado en blanco */
}
