/* Establece el fondo rosado */
body {
    background-color: pink; /* Cambia el color de fondo a rosa */
    color: white; /* Cambia el color del texto para que sea visible en el fondo rosa */
    text-align: center; /* Centra el texto en el cuerpo de la página */
}

/* Centra el encabezado h1 */
h1 {
    text-align: center;
}

/* Centra el encabezado h2 */
h2 {
    text-align: center;
}

/* Estilos para el párrafo de cita */
p {
    font-style: italic;
    text-align: center;
}

/* Estilos para la lista desordenada */
ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

/* Establece el ancho máximo para la imagen y la centra */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Ajusta el tamaño de la imagen al ancho del contenedor */
}

/* Estilos para los elementos de la lista */
ul li {
    color: black; /* Cambia el color del texto a negro */
    text-align: left; /* Alinea el texto de la lista a la izquierda */
}
